@font-face {
    font-family:Abaddon;
    src: url(../contact/fonts/Abaddon.ttf);
  }
  @font-face {
    font-family:CELTG;
    src: url(../contact/fonts/CELTG.TTF);
  }
  @font-face {
    font-family:Aunchanted Bold Regular;
    src: url(../contact/fonts/Aunchanted\ Bold\ Regular.ttf);
  }
  @font-face {
    font-family:HelveticaNowDisplay;
    src: url(../contact/fonts/HelveticaNowDisplay-Medium.woff);
  }

  .textwidget{
    margin-top: 30px;
  }
.footer_row{
  margin-bottom: 5rem!important;
}
  .head_contact{
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.064em;
    font-style: normal;
    color: #ba3737;
    font-family:HelveticaNowDisplay;
  }
  /* .main_contacts{
    position: relative;
    right: 3rem;
  } */
.name{
  color: #ba3737;
  border-bottom: 1px solid #fff;
   padding-bottom: 3px;
   font-family:HelveticaNowDisplay;
   
}
.connect_main p{
margin-top: 3.5rem;
text-transform: uppercase;
font-size: 19px;
font-weight: 700;
}
.head_touch{
 
  font-style: normal;
  color: #ba3737;
  font-family:HelveticaNowDisplay;
}
.connect_social{
  margin-top: 3rem;
}
.tech_main{
  letter-spacing: 0.25rem;
position: relative;
right: 14px;
}
.map_iframe{
/* width: 43vw; */
/* height: 32vh; */
/* margin-left: 1rem; */
/* margin-top: 2.5rem; */
  height: 50vh!important;
  width:100%;
}

.info_page{
  margin-left: 1rem;
}
.get_heading{
  text-transform: uppercase;
  font-family:HelveticaNowDisplay;
  font-weight: 900;
}

.img1{
width: 238px!important;
height: 238px!important;
border-radius: 50%!important;
}

.devs_container{
  margin-left: 0rem !important;
}
.footer-move{
  font-family:HelveticaNowDisplay;
}
.playlist-area{
  margin-left: -9rem!important;
  margin-top: 6rem!important;
}
.playlist-item{
  text-align: center;
  margin-top: 50px;
}
.playlist-item h5{
  margin-top: 2rem;
  font-size: 21px;
  margin-bottom: 0.875rem;
}
.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 540px;
}
.playlist-item a img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.playlist-item a:hover img {
  transform: scale(1.1);
}

  
  .bro_chure a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.bro_chure a::before,
.bro_chure a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.bro_chure a::before {
  background-color: #fff;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.bro_chure a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #fff;
}

.bro_chure a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.bro_chure a:hover::after {
  transform: translate3d(0, 0, 0);
}

.bro_chure a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.bro_chure a:hover span {
  transform: translate3d(-200%, 0, 0);
}


@media screen and (min-width: 767.98px) {
  .main_contact{
  position: relative !important;
right: 3rem !important;
font-size: 24px !important;
  }
  
}

@media screen and (max-width:768px){
  .map_iframe{
    height: 25vh!important;
    }
    .devs_container{   
        margin-left: 0.5rem !important;
    }
}

@media (min-width: 768px){ 
 .info_page{
  margin-left: 11.208vw!important;
 } 
} 